<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    <title>SKILL-MAP</title>
</head>
<body class="mainbody">
    <h1 class="headingdiv"> SKILL MAP !</h1>
    <p class="dashes">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
    <div class="inputbox">
        <h1 style="color: white;">Who Are You?</h1>
        <button class="button" (click)="setRole('employee')">Employee</button><br><br>
        <button class="button" (click)="setRole('admin')">Admin</button>
        
        <br><br>
        <p style="color: rgba(255, 255, 255, 0.386);">___________________________________________</p>
        <br><br>
        <div class="footer-links">
            <button class="text-button" onclick="alert('Terms & Conditions clicked!')">Terms & Conditions</button>
            <button class="text-button" onclick="alert('Support clicked!')">Support</button>
            <button class="text-button" onclick="alert('Customer Care clicked!')">Customer Care</button>
        </div>
    </div>
    </body>
</html>